.circle{
    top: 100px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    position: absolute;
    transition: all 2s;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    
}